extends ../layout/layout
block append header
block contents
      // PAGE HEADER
      .page_header
        .page_header_parallax
          .container
            .row
              .col-md-12
                h3
                  span Portfolio
                  | Lorem ipsum dolor 
                  br
                  | amet iplus
        .bcrumb-wrap
          .container
            .row
              .col-md-12
                ul.bcrumbs
                  li
                    a(href='#')
                      i.fa.fa-home
                      |  Home
                  li Portfolio - Single Slider
                .clearfix
      // INNER CONTENT
      .inner-content
        .container
          .row
            .col-md-9
              .video
                iframe(src='https://player.vimeo.com/video/4833093?title=0&byline=0&portrait=0', width='500', height='375')
            .col-md-3
              .fs-info
                h3 The illustrators project
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed dui velit. Fusce pharetra leo lacinia leo rhoncus, eu consequat libero auctor. Morbi sit amet augue porta, egestas odio eget, vulputate purus. Nulla convallis porta scelerisque. Nullam at consectetur odio.
                .clearfix.space20
                ul.project-meta
                  li
                    i.icon-tag2
                    | Illustration | Branding
                  li
                    i.icon-file2
                    span.project_client Rebeccea - 2015
                  li
                    a(href='http://www.themeforest.net/', target='_blank')
                      i.icon-link3
                      | http://www.themeforest.net
          .clearfix.space50
          h4.uppercase Recent Projects
          hr
          #portfolio-home.isotope.gutter.folio-boxed-4col
            .project-item.photography.branding
              a(href='./portfolio-single-slider.html')
                .project-gal
                  img.img-responsive(src='/images/projects/1.jpg', alt='')
                  .overlay-folio2
                    .project-info
                      h2 Aliquam tincidunt risus.
                      p Web , Creative
            .project-item.illustration.web-design.illustration
              a(href='./portfolio-single-slider.html')
                .project-gal
                  img.img-responsive(src='/images/projects/2.jpg', alt='')
                  .overlay-folio2
                    .project-info
                      h2 Vestibulum auctor
                      p Image Gallery
            .project-item.illustration.print
              a(href='./portfolio-single-slider.html')
                .project-gal
                  img.img-responsive(src='/images/projects/3.jpg', alt='')
                  .overlay-folio2
                    .project-info
                      h2 Vestibulum auctor
                      p Image Gallery
            .project-item.photography.web-design
              a(href='./portfolio-single-slider.html')
                .project-gal
                  img.img-responsive(src='/images/projects/4.jpg', alt='')
                  .overlay-folio2
                    .project-info
                      h2 Vestibulum auctor
                      p Image Gallery
block append footer