extends layout/layout
block append header
block contents
      .page_header
        .page_header_parallax2
          .container
            .col-md-12
              h3.text-center Page not found
      // 404 ERROR CONTENT
      .inner-content
        .container
          .row
            .col-md-12.text-center.error-404
              h2 404
              p Error 404! Sorry, the page you requested was not found.
                br
                | 페이지를 찾을수 없습니다.
              .clearfix
              a.button.btn-center(href='/')
                i.icon-circle-arrow-left
                | Back to Home
block append footer