doctype html
html(lang='ko')
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    title waCa's
    link(rel='stylesheet', href='/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='/js/owl-carousel/owl.carousel.css')
    link(rel='stylesheet', href='/js/owl-carousel/owl.theme.css')
    link(rel='stylesheet', href='/js/owl-carousel/owl.transitions.css')
    link(rel='stylesheet', href='/js/rs-plugin/css/settings.css')
    link(rel='stylesheet', href='/js/flexslider/flexslider.css')
    link(rel='stylesheet', href='/js/isotope/isotope.css')
    link(rel='stylesheet', href='/css/jquery-ui.css')
    link(rel='stylesheet', href='/js/magnific-popup/magnific-popup.css')
    link(rel='stylesheet', href='/css/style.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/earlyaccess/hanna.css', rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/icomoon/style.css', type='text/css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='/css/color-scheme/default-blue.css', type='text/css')
    script(src='/js/jquery.js')
    script(src='/js/jquery.validate.js')
  block script
  body
  //JADE String
  block header
    .outer-wrapper
      #top-bar.hidden-xs.hidden-sm
        .container
          .row
            .col-md-12
              .top-bar-content
                p
                  | ㅇㅅaㅇ
                  span
                  i.icon-mobile2
                  |  010-4088-0989 
                  span
                  | •
                  span
                  i.icon-mail3
                  |  Mail us - 
                  a(href='#' style="font-family: Open SANS-SERIF;") tk5436@naver.com
              .top-login
                -if(!user)
                  a(href='/login') Login
                -else
                  a #{user.user_name} 님
                  ||
                  a(href='/logout')  Logout
              .nav-social-icons
                ul.social-icons
                  li.facebook
                    a(href='http://facebook.com/tk5436', target='_blank')
                      i.fa.fa-facebook
                      i.fa.fa-facebook
                  li.twitter
                    a(href='http://twitter.com/dev_waCa', target='_blank')
                      i.fa.fa-twitter
                      i.fa.fa-twitter
                  li.github
                    a(href='http://github.com/KOR-waCa', target='_blank')
                      i.fa.fa-github
                      i.fa.fa-github
                  li.linkedin
                    a(href='http://kr.linkedin.com/in/KORwaCa', target='_blank')
                      i.fa.fa-linkedin
                      i.fa.fa-linkedin
      header#header-main
        .container
          .navbar.yamm.navbar-default
            .navbar-header
              a.navbar-brand(href='/')
                // 로고이미지
                //img(src='/images/basic/logo.png', width='40', alt='')
                li 개인블로그
            // CART / SEARCH
            .header-x.pull-right
              .s-search
                .ss-trigger
                  i.icon-search2
                .ss-content
                  span.ss-close.icon-cross2
                  .ssc-inner
                    form
                      input(type='text', placeholder='Blog Search')
                      button(type='submit')
                        i.icon-search2
            #navbar-collapse-1.navbar-collapse.collapse.navbar-right
              ul.nav.navbar-nav
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Gallery 
                    .arrow-up
                      i.fa.fa-angle-down
                  ul.dropdown-menu(role='menu')
                    li.dropdown-submenu
                      a(href='#') Photo
                      ul.dropdown-menu
                        li
                          a(href='/gallery/photo') Gallery
                        li
                          a(href='/gallery/photo/write') Write
                    li.dropdown-submenu
                      a(href='#') Video
                      ul.dropdown-menu
                        li
                          a(href='/gallery/video') View
                        li
                          a(href='/gallery/video/write') Write
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Blog 
                    .arrow-up
                      i.fa.fa-angle-down
                  ul.dropdown-menu(role='menu')
                    li.dropdown-submenu
                      a(href='/blog/board') My blog
                      ul.dropdown-menu
                        li
                          a(href='/blog/board') Board
                        li
                          a(href='/blog/write') write
                    li.dropdown-submenu
                      a(href='/project') Single Project
                      ul.dropdown-menu
                        li
                          a(href='/project/node') node
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Contact 
                    .arrow-up
                      i.fa.fa-angle-down
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/contact') Contact
                -if(user)
                  li 
                    a #{user.user_name} 님
                  li
                    a(href="/logout") 로그아웃
                -else
                  li
                    a(href="/login") 로그인
      block contents
      // FOOTER
      block footer
        footer
        .footer-bottom
          .container
            .row
              .col-md-8
                  a(href="https://www.twitter.com/dev_waCa" target="_blank") waCa twitter.
              .col-md-4
                .f-social.pull-right
                  a.fa.fa-twitter(href='https://www.twitter.com/dev_waCa' target="_blank")
                  a.fa.fa-facebook(href='https://www.facebook.com/tk5436' target="_blank")
                  a.fa.fa-linkedin(href='http://kr.linkedin.com/in/KORwaCa' target="_blank")
    // Plugins
    script(src='/js/bootstrap.min.js')
    script(src='/js/menu.js')
    script(src='/js/owl-carousel/owl.carousel.min.js')
    script(src='/js/rs-plugin/js/jquery.themepunch.tools.min.js')
    script(src='/js/rs-plugin/js/jquery.themepunch.revolution.min.js')
    script(src='/js/jquery.easing.min.js')
    script(src='/js/isotope/isotope.pkgd.js')
    script(src='/js/jflickrfeed.min.js')
    script(src='/js/tweecool.js')
    script(src='/js/flexslider/jquery.flexslider.js')
    script(src='/js/easypie/jquery.easypiechart.min.js')
    script(src='/js/jquery-ui.js')
    script(src='/js/jquery.appear.js')
    script(src='/js/jquery.inview.js')
    script(src='/js/jquery.countdown.min.js')
    script(src='/js/jquery.sticky.js')
    script(src='/js/magnific-popup/jquery.magnific-popup.min.js')
    script(src='/js/main.js')
