extends ../layout/layout
block script
    script(type='text/javascript').
      $(document).ready(function(){
      });
      function onSearch(page){
      	var search = $("#searchTitle").val();
      	var url = '/blog/board/'+page+'/'+search;
      	document.location.href = url;
      }
block append header
block contents
      // PAGE HEADER
      .page_header
        .page_header_parallax2
          .container
            .row
              .col-md-12
                h3
                  span Blog
                  | #{title}
        .bcrumb-wrap
          .container
            .row
              .col-md-12
                ul.bcrumbs
                  li
                    a(href='/')
                      i.fa.fa-home
                      |  Home
                  li Blog
                .clearfix
      // INNER CONTENT
      .inner-content
        .container
          .row
            // Sidebar
            aside.col-sm-3
              .side-widget.space50
                h4
                  a(href="/blog/write") 글쓰기
              .side-widget.space50
                h4 Search
                form.search-widget(role='form' method="get")
                  input.form-control(type='text' placeholder="검색하세용" name="title" id="searchTitle" onkeyup="if(event.keyCode==13){ onSearch(1) }")
                  button(type='button' onclick="onSearch(1)")
                    i.fa.fa-search
              .side-widget.space50
                h4 Categories
                ul.list-unstyled.cat-list
                  li
                    a(href='/blog/board/1') 자유게시판
            .col-md-9.blog-content
              .row
                -if(item)
                  -for(var i= 0 ; i< item.length ; i ++)
                    .col-md-6.space60
                      article.blogpost
                        h2.post-title-small
                          a(href='blog/bloard/${item[i].content_id') #{item[i].blog_title}
                        .post-meta
                          span
                            a(href='#')
                              i.icon-clock2
                              =moment(item[i].blog_createDate).format('YYYY-MM-DD')
                          span
                            a(href='#')
                              i.icon-user
                              |  #{item[i].blog_author}
                        .space30
                        .post-excerpt
                          p(style="height: 225px;overflow: overlay;word-break: break-all;")
                            | !{item[i].blog_text}
                        .space30
                        a.button.btn-xs(href='/blog/view/#{item[i].content_id}')
                          | Read More  
                          i.fa.fa-angle-right
              .space50
              // Pagination
              .page_nav
                -if(!search)
                  -if(curPage != 1){
                    -if(rowPage == 1)
                      a(href='/blog/board/#{rowPage}')
                        i.fa.fa-angle-left
                    -else if(rowPage > 1)
                      a(href='/blog/board/#{rowPage-1}')
                        i.fa.fa-angle-left
                  -}
                  -for(var i = rowPage ; i < lastPage ; i++){
                    a(href='/blog/board/#{i}') #{i}
                  -}
                  -if(lastPage <= totalPage){
                    a(href='/blog/board/#{lastPage}')
                      i.fa.fa-angle-right
                  -}
                -if(search)
                  -if(curPage != 1){
                    -if(rowPage == 1)
                      a(href='/blog/board/#{rowPage}/#{search}')
                        i.fa.fa-angle-left
                    -else if(rowPage > 1)
                      a(href='/blog/board/#{rowPage-1}/#{search}')
                        i.fa.fa-angle-left
                  -}
                  -for(var i = rowPage ; i < lastPage ; i++){
                    a(href='/blog/board/#{i}/#{search}') #{i}
                  -}
                  -if(lastPage <= totalPage){
                    a(href='/blog/board/#{lastPage}/#{search}')
                      i.fa.fa-angle-right
                  -}
block append footer