extends ../layout/layout
block append header
block contents
      .page_header
        .page_header_parallax5
          .container
            .row
              .col-md-12
                h3
                  span Blog
                  | Lorem ipsum dolor 
                  br
                  | amet iplus
        .bcrumb-wrap
          .container
            .row
              .col-md-12
                ul.bcrumbs
                  li
                    a(href='#')
                      i.fa.fa-home
                      |  Home
                  li BLog mason 4 Col
                .clearfix
      // INNER CONTENT
      .inner-content
        .container
          .row
            .col-md-12.blog-content
              .row
                #blog-mason.blog-mason-4col
                  article.blogpost.bm-item.isotope-item
                    h2.post-title-small
                      a(href='#') Lorem ipsum dolor sit
                    .post-meta
                      span
                        a(href='#')
                          i.icon-clock2
                          |  5 May
                      span
                        a(href='#')
                          i.icon-user
                          |  John Doe
                    .space30
                    .post-media
                      img.img-responsive(src='images/blog/1.jpg', alt='')
                    .space20
                    .post-excerpt
                      p
                        | Morbi interdum, lectus eget mattis rhoncus dui quis tellus consectetur laoreet et a nulla. Suspendisse eleifend velit vitae lectus faucibus, vel consectetur magna pellentesque. Aliquam a efficitur ipsum.
                    a.button.btn-xs(href='#')
                      | Read More  
                      i.fa.fa-angle-right
                  article.blogpost.bm-item.isotope-item
                    h2.post-title-small
                      a(href='#') Sed rutrum felis a odio
                    .post-meta
                      span
                        a(href='#')
                          i.icon-clock2
                          |  5 May
                      span
                        a(href='#')
                          i.icon-user
                          |  John Doe
                    .space20
                    .post-media
                      img.img-responsive(src='images/blog/2.jpg', alt='')
                    .space20
                    a.button.btn-xs(href='#')
                      | Read More  
                      i.fa.fa-angle-right
                  article.blogpost.bm-item.isotope-item
                    h2.post-title-small
                      a(href='#') Etiam non arcu sit amet
                    .post-meta
                      span
                        a(href='#')
                          i.icon-clock2
                          |  5 May
                      span
                        a(href='#')
                          i.icon-user
                          |  John Doe
                    .space20
                    .post-media
                      img.img-responsive(src='images/blog/3.jpg', alt='')
                    .space20
                    .post-excerpt
                      p
                        | Quisque sit amet fringilla turpis. Ut pharetra molestie feugiat. Etiam non arcu sit amet nulla sagittis laoreet. Donec ullamcorper ante neque, nec semper augue ullamcorper in.
                    a.button.btn-xs(href='#')
                      | Read More  
                      i.fa.fa-angle-right
                  article.blogpost.bm-item.isotope-item
                    h2.post-title-small
                      a(href='#') Sed accumsan ullam corper
                    .post-meta
                      span
                        a(href='#')
                          i.icon-clock2
                          |  5 May
                      span
                        a(href='#')
                          i.icon-user
                          |  John Doe
                    .space20
                    .post-media
                      img.img-responsive(src='images/blog/4.jpg', alt='')
                    .space20
                    .post-excerpt
                      p
                        | Morbi interdum, lectus eget mattis vehicula, est nisi dapibus risus, a vestibulum enim leo sed velit. Etiam rhoncus dui quis tellus consectetur laoreet et a nulla. Suspendisse eleifend velit vitae lectus faucibus, vel consectetur magna pellentesque. Aliquam a efficitur ipsum.
                    a.button.btn-xs(href='#')
                      | Read More  
                      i.fa.fa-angle-right
                  article.blogpost.bm-item.isotope-item
                    h2.post-title-small
                      a(href='#') Quisque sit amet fringilla
                    .post-meta
                      span
                        a(href='#')
                          i.icon-clock2
                          |  5 May
                      span
                        a(href='#')
                          i.icon-user
                          |  John Doe
                    .space20
                    .post-media
                      img.img-responsive(src='images/blog/5.jpg', alt='')
                    .space20
                    a.button.btn-xs(href='#')
                      | Read More  
                      i.fa.fa-angle-right
                  article.blogpost.bm-item.isotope-item
                    h2.post-title-small
                      a(href='#') Donec posuere dictum
                    .post-meta
                      span
                        a(href='#')
                          i.icon-clock2
                          |  5 May
                      span
                        a(href='#')
                          i.icon-user
                          |  John Doe
                    .space20
                    .post-media
                      img.img-responsive(src='images/blog/6.jpg', alt='')
                    .space20
                    .post-excerpt
                      p
                        | Morbi interdum lectus eget mattis vehicula, est nisi dapibus risus tellus consectetur laoreet et a nulla. Suspendisse eleifend velit vitae lectus faucibus, vel consectetur magna pellentesque. Aliquam a efficitur ipsum.
                    a.button.btn-xs(href='#')
                      | Read More  
                      i.fa.fa-angle-right
                  article.blogpost.bm-item.isotope-item
                    h2.post-title-small
                      a(href='#') Sed eget dui vitae felis
                    .post-meta
                      span
                        a(href='#')
                          i.icon-clock2
                          |  5 May
                      span
                        a(href='#')
                          i.icon-user
                          |  John Doe
                    .space20
                    .post-media
                      img.img-responsive(src='images/blog/7.jpg', alt='')
                    .space20
                    .post-excerpt
                      p
                        | Morbi interdum risus tellus consectetur laoreet et a nulla. Suspendisse eleifend velit vitae lectus faucibus, vel consectetur magna pellentesque. Aliquam a efficitur ipsum.
                    a.button.btn-xs(href='#')
                      | Read More  
                      i.fa.fa-angle-right
                  article.blogpost.bm-item.isotope-item
                    h2.post-title-small
                      a(href='#') Nunc a justo porttitor
                    .post-meta
                      span
                        a(href='#')
                          i.icon-clock2
                          |  5 May
                      span
                        a(href='#')
                          i.icon-user
                          |  John Doe
                    .space20
                    .post-media
                      img.img-responsive(src='images/blog/8.jpg', alt='')
                    .space20
                    .post-excerpt
                      p
                        | Morbi interdum lectus eget mattis vehicula, est nisi dapibus risus tellus consectetur laoreet et a nulla. Suspendisse eleifend velit vitae lectus faucibus, vel consectetur magna pellentesque. Aliquam a efficitur ipsum.
                    a.button.btn-xs(href='#')
                      | Read More  
                      i.fa.fa-angle-right
                  article.blogpost.bm-item.isotope-item
                    h2.post-title-small
                      a(href='#') Etiam non arcu sit
                    .post-meta
                      span
                        a(href='#')
                          i.icon-clock2
                          |  5 May
                      span
                        a(href='#')
                          i.icon-user
                          |  John Doe
                    .space20
                    .post-media
                      img.img-responsive(src='images/blog/9.jpg', alt='')
                    .space20
                    .post-excerpt
                      p
                        | Morbi interdum, lectus eget mattis vehicula enim leo sed velit. Etiam rhoncus dui quis tellus consectetur laoreet et a nulla. Suspendisse eleifend velit
                    a.button.btn-xs(href='#')
                      | Read More  
                      i.fa.fa-angle-right
              .space50
              // Pagination
              .page_nav
                a(href='')
                  i.fa.fa-angle-left
                a.active(href='') 1
                a(href='') 2
                a(href='') 3
                a.no-active ...
                a(href='') 9
                a(href='')
                  i.fa.fa-angle-right
              // End Pagination
            // End Content
block append footer