extends ../layout/layout
block script
    // Include Editor style.
    link(href='/js/editor/css/froala_editor.min.css', rel='stylesheet', type='text/css')
    link(href='/js/editor/css/froala_style.min.css', rel='stylesheet', type='text/css')
    // Include Code Mirror style
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css')
    // Include Editor Plugins style.
    link(rel='stylesheet', href='/js/editor/css/plugins/char_counter.css')
    link(rel='stylesheet', href='/js/editor/css/plugins/code_view.css')
    link(rel='stylesheet', href='/js/editor/css/plugins/colors.css')
    link(rel='stylesheet', href='/js/editor/css/plugins/emoticons.css')
    link(rel='stylesheet', href='/js/editor/css/plugins/file.css')
    link(rel='stylesheet', href='/js/editor/css/plugins/fullscreen.css')
    link(rel='stylesheet', href='/js/editor/css/plugins/image.css')
    link(rel='stylesheet', href='/js/editor/css/plugins/image_manager.css')
    link(rel='stylesheet', href='/js/editor/css/plugins/line_breaker.css')
    link(rel='stylesheet', href='/js/editor/css/plugins/quick_insert.css')
    link(rel='stylesheet', href='/js/editor/css/plugins/table.css')
    link(rel='stylesheet', href='/js/editor/css/plugins/video.css')
    
    script(src="/js/editor/js/froala_editor.min.js")
    // Include Plugins.
    script(type='text/javascript', src='/js/editor/js/plugins/align.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/char_counter.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/code_beautifier.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/code_view.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/colors.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/emoticons.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/entities.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/file.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/font_family.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/font_size.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/fullscreen.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/image.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/image_manager.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/inline_style.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/line_breaker.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/link.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/lists.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/paragraph_format.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/paragraph_style.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/quick_insert.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/quote.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/table.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/save.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/url.min.js')
    script(type='text/javascript', src='/js/editor/js/plugins/video.min.js')
    // Include Language file if we want to use it.
    script(type='text/javascript', src='/js/editor/js/languages/ko.js')
    script(type='text/javascript').
      $(document).ready(function(){
      	$("#content_editor").froalaEditor({
      		imageUpload : '/file/image/upload'
            , imageUploadMethod: 'PUT'
      		, language : 'ko'
      		, height : 400
      		, enter: $.FroalaEditor.ENTER_BR
      		, imageInsertButtons : ['imageBack','|', 'imageUpload', 'imageByURL']
      	}).on('froalaEditor.image.uploaded', function (e, editor,link,key, response) {
      		
      	});
      });
      
block append header
block contents
      .inner-content
        .container
          .row.shop-login
            .col-md-12
              .box-content
                h3.uppercase.text-center 글쓰기
                .clearfix.space40
                form.logregform(action="/blog/write" method="post" id="content_write")
                  input(type="hidden" name="content_autor" value="#{user.user_name}")
                  .row
                    .form-group
                      .col-md-12
                        input.form-control(type='text', value='' name="content_title" id="content_title" required placeholder="제목을 입력해 주세요.")
                  .clearfix.space20
                  .row
                    .form-group
                      .col-md-12
                        textarea(id="content_editor" name="content_editor")
                  .clearfix.space20
                  .row
                    .col-md-12
                      button.button.btn-md.pull-right(type='submit') 작성
block append footer