extends ../layout/layout
block append header
block contents
      .slider-wrap
        .tp-banner-container
          .tp-banner
            ul
              // SLIDE
              li(data-transition='fade', data-slotamount='1', data-masterspeed='1500', data-thumb='', data-delay='13000', data-saveperformance='off', data-title='Our Workplace')
                img(src='', alt='kenburns1', data-bgposition='left center', data-kenburns='on', data-duration='14000', data-ease='Linear.easeNone', data-bgfit='100', data-bgfitend='130', data-bgpositionend='right center')
                .tp-caption.customin.customout.tp-resizeme(data-x='left', data-hoffset='60', data-y='170', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='500', data-easing='Back.easeInOut', data-endspeed='300', style='font-size:80px;text-transform:uppercase;font-weight: 800 !important;letter-spacing: 0px;line-height: 120% !important;')
                  | 
                  br
                  | To do List
                .tp-caption.light_title.customin.customout.tp-resizeme(data-x='left', data-hoffset='60', data-y='370', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='700', data-easing='Back.easeInOut', data-endspeed='300', style='font-size:18px;')
                  | 퇴근 전 서버실 점검 
                  br
                  | 끼알ㅇ라앍
              // SLIDE
              li(data-transition='fade', data-slotamount='7', data-masterspeed='2000', data-saveperformance='on', data-title='Ken Burns Slide')
                // MAIN IMAGE
                img(src='', alt='2', data-lazyload='', data-bgposition='right top', data-kenburns='on', data-duration='12000', data-ease='Power0.easeInOut', data-bgfit='115', data-bgfitend='100', data-bgpositionend='center bottom')
                // LAYERS
                // LAYER NR. 1
                .tp-caption.small_text.lft.tp-resizeme.rs-parallaxlevel-0(data-x='center', data-y='210', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='1200', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.05', data-endelementdelay='0.1', style='z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;\
                min-height: 0px;\
                position: absolute;\
                text-shadow: none;\
                font-weight: 400;\
                font-size: 14px;\
                line-height: 20px;\
                margin: 0px;\
                border-width: 0px;\
                border-style: none;\
                text-transform: uppercase;\
                white-space: nowrap;\
                letter-spacing: 1.8px;\
                ')
                  span 
                // LAYER NR. 2
                .tp-caption.small_text.customin.tp-resizeme.rs-parallaxlevel-0(data-x='center', data-y='256', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='1400', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', style='z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;   width: 60px !important;\
                height: 1px !important;\
                ')
                  p.line.white
                // LAYER NR. 3
                .tp-caption.finewide_medium_white.lfl.tp-resizeme.rs-parallaxlevel-0.center-align(data-x='center', data-y='280', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='1800', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', style='z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;\
                text-shadow: none;\
                font-size: 48px;\
                line-height: 50px;\
                font-weight: 900;\
                background-color: none;\
                text-decoration: none;\
                font-family:Open Sans, sans-serif;\
                text-transform: uppercase;\
                border-width: 0px;\
                text-align:center;\
                border-color: transparent;\
                border-style: none;\
                letter-spacing: 2.5;\
                ')
                  span
                    |  My Blog
                // LAYER NR. 4
                .tp-caption.small_text.customin.tp-resizeme.rs-parallaxlevel-0(data-x='center', data-y='405', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='2000', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', style='z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;')
                  p.line.white
                // LAYER NR. 5
                .tp-caption.small_text.lfr.tp-resizeme.rs-parallaxlevel-0(data-x='center', data-y='435', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='2400', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', style='z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;  position: absolute;\
                text-shadow: none;\
                font-weight: 400;\
                font-size: 14px;\
                line-height: 20px;\
                margin: 0px;\
                border-width: 0px;\
                font-family:Open Sans, sans-serif;\
                text-transform: uppercase;\
                white-space: nowrap;\
                letter-spacing: 1.8px;\
                ')
                  span Create by waCa
              // SLIDE
            .tp-bannertimer
      // INNER CONTENT
      .inner-content.no-padding
        .container
          .space60
          .welcome-content.text-center
            h2 야호!
            p.lead 최신브라우저 사용을 추천드립니다.
        .clearfix.space90
block append footer